body {
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/views/img/universidad-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif !important;
}



.form-container {
    background-color: #401115;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;              
    margin-bottom: 20px;
}
.form-titulo {
    font-size: 1.5rem; 
    margin-top: 0px;
    margin-bottom: 20px; 
    color: white;
    font-family: "Poppins", sans-serif !important;
}

.form-imagen{
    width: 20px; 
    height: 20px;
}

.linea {
border-top: 1px solid #ffffff;
width: 5em; 
margin-right: 0px;
margin-left: 0px;
}
.linea-texto {
display: inline-block;
font-size: 1.1rem;
margin: -5px; 
position: relative; 
top: -0.8rem; 
padding: 0 5px; 
color: #ffffff;
font-family: "Poppins";
}

.botonform{
    border: 0px;
border-radius: 0.5em;
background-color: #972133;
height: 2.5em;
color: white;
}

.botonform a{
   text-decoration: none;
   font-family: "Poppins", sans-serif !important;
}

.botonform:hover{
background-color: #701122;
}

.textoadicional {
font-size: 0.8em;
color: white;
font-family: "Poppins", sans-serif !important;
}

