
body {
    font-family: "Poppins", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    overflow-x: hidden; /* Para evitar scroll horizontal durante la transición */
}

.header {
    position: relative;
    z-index: 2; /* Asegura que el header esté siempre encima de otros elementos */
    background-color: #f5f5f5;
    width: 100%;
   
    
}


.fade-in {
    animation: slide-in 0.5s forwards;
}

.fade-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}



.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* Ajusta la opacidad de la imagen de fondo */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro */
    z-index: 1;
}

main {
    position: relative;
    min-height: calc(100vh - 56px); /* Ajusta la altura restando la altura del header */
}

.subjects, .study-plan {
    z-index: 2;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra a las cards */
}

.btn-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #401115; /* Cambia el fondo al color solicitado */
    border: none;
    color: white;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #330d0d; /* Un tono más oscuro para el hover */
}

.btn-custom:focus {
    box-shadow: none;
    outline: none;
}

@media (max-width: 768px) {
    .subjects, .study-plan {
        min-height: auto;
        margin: 1rem;
        
    }
    .col-md-1 {
        display: none;
    }
}