<header>
  <nav class="navbar sticky-top bg-body-tertiary">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="#" id="brand">
          <img
            src="/docs/5.3/assets/brand/bootstrap-logo.svg"
            alt="UAD"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          UAD
        </a>
      </div>
      <div>
        <a class="navbar-brand" href="#">
          Luka Maciel
          <img
            src="/docs/5.3/assets/brand/bootstrap-logo.svg"
            alt="Usuario"
            class="d-inline-block align-text-top"
            id="usuario"
          />
        </a>
      </div>
    </div>
  </nav>
</header>
